header{
    background: #283342;
    width: 256px;
    height: 100vh;
}

.container-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 60px;
    flex-shrink: 0;
    background: #1D242E;
    padding-left: 0%;
}
.title-logo{
    color: #FFF;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.container-profile{
    display: flex;
    align-items: center;
    padding: 10px 20px;

}

.name-profile{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 10px;
}
.sub-name-profile{
    color: #FED600;
    font-family: 'Poppins';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tree-point{
    margin-left: 80px;
}

.ul-list{
    width: 256px;
    list-style-type: none;
    position: relative;
    right: 40px;


}

.li-list{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 40px;
    cursor: pointer;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.ul-list-b-bottom{
    border-bottom: 1px solid #ffffff69;
}

.vector{
    margin-left: 100px;
    user-select: none;
}
.ul-bg-color{
    list-style-type: none;
    background: #1D242E;
    width: 255px;
    position: relative;
    right: 40px;
}
#vector2{
    margin-left: 111px;
}
.ul_1, .ul_2{
    display: none;
}

.li-list:hover{
    background: #009099;
}
svg{
    padding-right: 10px;
}

.btn-hide-slide{
    width: 14px;
    height: 38px;
    background-color: #455162;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 16%, 100% 84%, 0% 100%);
    position: absolute;
    left: 256px;
    bottom: 50px;
}

#btn-hide-slide{
    transform: rotate(90deg);
}

a{
    text-decoration: none;
    color: #FFF;
    font-family: 'Poppins';
}